*body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  li {
    list-style-type: none;

  }
}

.mainContainer {
  max-width: 1080px;
  height: 100%;
  margin: 20px auto;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 0 60px 75px;


  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerName {
      b {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9D9D9D;
      }
    }

    .headerLeft {
      display: flex;
      align-items: center;
    }

    .headerRight {
      display: flex;

      .cart {
        align-self: center;

        img {
          margin-right: 10px;
        }
      }

      div {
        margin-right: 35px;
      }
    }
  }

  .catalog {

    .catalogHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      margin-top: 30px;

      .catalogTitle {
        select {
          width: 240px;
          height: 39px;
          border: 1px solid #F3F3F3;
          border-radius: 10px;
          font-size: large;
        }

      }

      .catalogSearch {
        display: flex;
        justify-content: center;
        width: 250px;
        height: 45px;
        border: 1px solid #F3F3F3;
        border-radius: 10px;

        img {
          width: 15px;
          margin-right: 14px;
        }

        input {
          border: 0;
        }
      }

    }
  }
}

.catalogProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.productItem {
  width: 280px;
  height: 400px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 29px;

  &:hover {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
  }

  .likeItem {
    align-self: start;
  }

  .productImg {
    margin-bottom: 14px;
    height: 112px;
  }

  .productOnCart {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    width: 200px;



    .productPrice {
      display: flex;
      flex-direction: column;
      margin-right: 39px;

      .priceWord {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #817777;
      }

      .price {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

      }

    }
  }

}

.cartContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .cartRight {
    position: absolute;
    width: 430px;
    height: 100%;
    background-color: white;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;

    .cartHeader {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }

    .cartInfo {
      align-self: center;
      margin-bottom: 10px;

      .cardInCart {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #F3F3F3;
        border-radius: 20px;
        background: #FFFFFF;
        height: 160px;
        width: 370px;
        padding: 20px;
        gap: 21px;

        .discribeInCart {
          display: flex;
          flex-direction: column;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          gap: 8px
        }
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .taxes {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .cartBottom {
    display: flex;
    flex-direction: column;

    button {
      justify-self: center;
      width: 325px;
      height: 55px;
      background: #9DD558;
      border: 0;
      color: white;
      border-radius: 18px;
      margin: 0 auto
    }
  }

}

.infoMain {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .infoTitle {
    display: flex;
    justify-content: space-between;

    span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
  }

  .infoDescription {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
  }
}